{% block component_captcha_honeypot %}
    <div class="{{ constant('Cicada\\Storefront\\Framework\\Captcha\\HoneypotCaptcha::CAPTCHA_REQUEST_PARAMETER') }}">
        {% block component_captcha_honeypot_input %}
            <input type="text"
                   name="{{ constant('Cicada\\Storefront\\Framework\\Captcha\\HoneypotCaptcha::CAPTCHA_REQUEST_PARAMETER') }}"
                   class="d-none"
                   value=""
                   tabindex="-1"
                   autocapitalize="off"
                   spellcheck="false"
                   autocorrect="off"
                   autocomplete="off"
                    {# Using "new-password" as workaround because Firefox ignores autocomplete="off" #}
                   autocomplete="new-password"
            >
        {% endblock %}
    </div>
{% endblock %}
