.account-address {
    .address-action-create {
        font-size: 1.1em;
        text-align: left;

        &:hover {
            border: $border-width $border-style $border-color;
        }
    }

    .address-card .card-body .address:first-line {
        font-weight: $font-weight-bold;
    }
}